.ui-questions-panel {
	position: relative;

	.ui-display-types {
		position: relative;
		border-radius: 3px;
		border: 1px solid transparent;
		cursor: pointer;
		margin-right: 5px;

		.container {
			background-color: #ffffff;
			border: 1px solid transparent;
			border-radius: 3px;
			padding: 0 5px;
		}

		.menu-panel {
			//width: 50px;
			display: none;
		}

		&.active {
			border: 1px solid #f4f4f4;
			background-color: #f4f4f4;

			.container {
				//padding: 5px;
				transform: translateY(-10px);
				box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

				.content {
					padding-top: 10px;
				}
			}

			.menu-panel {
				display: block;
				list-style: none;
				margin: 10px 0 0 0;

				li {
					padding: 5px 0;
				}
			}
		}
	}

	.question-header {
		display: flex;
		padding: 10px 10px;
		background-color: #ffffff;
		align-items: center;
		border: 1px solid #f4f4f4;

		.title {
			font-weight: bold;
		}
	}

	.ui-actions {
		position: absolute;
		top: 0;
		width: 50px;
		transform: translateY(-50px);
	}
}

.cq-question-panel {
	.ui-panel-answers {
		margin-top: 10px;
		.ui-answer {
			// margin: 5px 0;
		}
		&.direction-next-to {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 1fr;
			grid-column-gap: 8px;
			grid-row-gap: 8px;
			.ui-answer {
				// margin-right: 10px;
			}
		}
	}
}

.paragraph,
.blockquote {
	margin-top: 10px !important;
}

.w-1000 {
	width: 1000px;
}

.megadraft-block {
	padding-bottom: 0px !important;
}
