@import "../../../../styles//css_variables";

.client-financial-products-introduction {
  padding-top: 17px;
  border-top: 1px solid #dfe3ec;
  background: linear-gradient(180deg, #fff, #f2f5f9);

  @media only screen and (max-width: $md) {
    padding: 30px 20px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $md) {
      display: block;
    }

    &__content {
      &__title {
        font-size: 28px;
        line-height: 34px;
        font-family: SFPD-Bold;
        letter-spacing: 0.3px;
        color: #111;
        margin-bottom: 10px;

        @media only screen and (max-width: $md) {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 10px;
        }
      }
      &__desc {
        font-family: SFPD-Regular;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 29px;
        letter-spacing: 0.3px;
        color: #555;

        @media only screen and (max-width: $md) {
          font-size: 13px;
          line-height: 19px;
        }
      }
    }

    &__cover {
      width: 335px;
      max-width: 100%;

      @media only screen and (max-width: $md) {
        padding: 0 16px;
        box-sizing: border-box;
      }
      i {
        background-image: url("/assets/images/client_financial_products_introduction_image.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        display: block;
        padding-top: 110.4%;
      }
    }
  }
}

.client-financial-products-introduction-content {
  margin-bottom: 30px;
  &__item {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    &__icon {
      margin-right: 9px;
      color: #fc7513;
    }
    &__label {
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0.3px;
      color: #002d71;
      font-family: SFPD-Regular;
    }
  }
}
