.forgot-password-form {
  .ant-form{
    &-item{
      &:first-child {
        margin-bottom: 2rem;
      }

      &-control {
        width: 100%;
      }
    }
  }
}

.forgot-password-page__sub-heading{
  text-align: left;
  margin-bottom: 2rem;
}

.change-password-form {
  .ant-btn-primary {
    background-color: #064DD6;
    border-color: #064DD6;
  }
}