.h-wrapper-preview-user{
  margin: 10px 15px;
  text-align: center;
  .wrapper-preview-short-info{
    .wrapper-preview-user-name{
      text-transform: capitalize;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      padding: 8px 0px;
    }
    .wrapper-preview-user-position{
      padding-bottom: 8px;
    }
    .wrapper-preview-user-social-network{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px 20px;
    }
  }
}