@import "styles/_css_variables.scss";

.expert-detail-reviews-list-form {
  @media only screen and (max-width: $md) {
    margin-bottom: 40px;
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-row {
      flex-wrap: wrap;
      row-gap: 12px !important;
      .ant-col {
        flex: 1;
        max-width: none;
        width: fit-content;
      }
    }
  }
  .expert-detail-reviews-form-filter-btn {
    .ant-btn {
      padding: 8px 32px;
      height: fit-content;
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid #ababab;
      border-radius: 8px;
      width: 100%;
      @media only screen and (max-width: $md) {
        width: fit-content;
      }
    }
  }
}
