.mobile-default-drawer {
	.ant-drawer-header {
		border: 0;
		padding: 0;
		width: 100%;
		z-index: 1;
		.ant-drawer-title {
			height: 60px;
		}
		.ant-drawer-close {
      color: #fff;
			position: fixed;
			top: 30px;
			left: 24px;
			transform: translate(-50%, -50%);
		}
	}
}
