.contact-menu-item-popover {
  .ant-popover-arrow {
    display: none;
  }
	.ant-popover-inner {
    background: none;
    box-shadow: none;
  }
}

.contact-menu-item-icon {
	font-size: 26px;
	color: #b5bdd2;
}
