@import '@styles/css_variables';

.pre-login.reset-password-profile-screen {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 20px;
    line-height: 28px;
  }

  @screen md {
    max-width: 80%;
  }
}
