.loanValue {
  margin-bottom: 20px;
  font-family: SFPD-Regular;
  .label {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #222222;
  }
}
