$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$body-background-color: #f0f2f5;
$primary-color: #84c225;
$layout-body-background: #ffffff;
$layout-header-background: #84c225;
$layout-header-height: 55px;
$border-radius-base: 4px;
$main-color: #064DD6;
$word-color: #04328B;
$border-color: #D5DAE7;
