@primary-color: rgb(0, 104, 255);
@layout-body-background: rgb(0, 104, 255); //#f6f8fa;
@layout-header-background: rgb(0, 104, 255);
@layout-header-text-color: #ffffff;
@layout-header-height: 55px;
@border-radius-base: 4px;

:root {
  --primary-color: @primary-color;
  --layout-header-height: @layout-header-height;
  --layout-header-text-color: @layout-header-text-color;
  --top-header-bg-color: @primary-color; //#222222;
  --top-header-height: 40px;

  --frontend-layout-header-height: 20px;
  --f-main-color: #f0f2f5;
}