.deal-loan-management-wrapper {
    display: flex;
    position: relative;
    padding-top: 56px;

    &__left {
        width: 300px;

        .ant-pagination {
            position: absolute;
            right: 0;
            top: 0;
        }

        .ant-spin-container, .ant-spin-nested-loading {
            position: initial !important;
        }

        &--table {
            .ant-table-cell {
                vertical-align: top;
            }
        }

        .h-table-form.ant-table-wrapper .ant-table-thead {
            .deal-loan-management__short-table {
                border-top-right-radius: 0 !important;
                font-weight: 400;
                padding: 14px;
            }

            .ant-table-cell-scrollbar {
                background: #fff;
                border-top-right-radius: 0 !important;
            }
        }
    }

    &__right {
        width: calc(100% - 300px);
        background-color: #fff;
        border: 1px solid #f0f0f0;
        border-left: none;
        border-top-right-radius: 8px;

        &--header {
            p {
                font-size: 14px;
                margin-bottom: 0;
            }

            padding: 14px 0 14px 26px;
            border-bottom: 1px solid #f0f0f0;
            background-color: #064DD6;
            color: #fff;
        }

        &--content {
            padding: 1rem;
        }
    }
}
