.job-detail{
  &__container{
    background: #EFEFEF;
  }
  &__body{
    padding: 65px 100px;
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-family: SFPD-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #303030;
  }
}
