.fina-portal-page {
  //max-width: 1024px;
  margin: 0 auto;
  background: linear-gradient(0deg, #0A3ECA -12.73%, #00217B 80%);
  min-height: 100vh;

  .fina-portal-home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;

    .ant-carousel {
      height: 100%;

      .client-home-banner {
        height: 100%;

        .slick-track {
          height: 100%;
        }

        .slick-list {
          height: 100%;
        }

        .slick-slide {
          height: 100%; // ← that must not be ignored

          div {
            height: 100%;

            .client-home-banner-image {
              height: 100%;
              object-fit: contain;

            }
          }
        }

        .slick-track {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: stretch;
        }
      }
    }

    &-content {
      padding: 50px;

      &-wrapper {
        display: flex;
        gap: 30px;

        .fina-portal-home-content-phone {
          width: 220px;
          height: auto;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.83%, rgba(0, 0, 0, 0.25) 100%), #00EF43;
          box-shadow: inset 0px 6px 0px rgba(255, 255, 255, 0.49), inset 0px -10px 0px rgba(0, 0, 0, 0.15);
          border-radius: 20px;

          svg {
            width: 100px;
          }
        }
      }

      &-actions {
        width: calc(100% - 250px);

        .ant-btn {
          height: 100px;
          border-radius: 20px;
          font-weight: 500;
          font-size: 30px;
          border: none;

          &:first-child {
            margin-bottom: 15px;
          }
        }

        &__home-loan {
          background: linear-gradient(180deg, rgba(255, 199, 0, 0) 0%, rgba(218, 0, 0, 0.25) 100%), #FC7513;
          box-shadow: inset 0px 6px 0px rgba(255, 255, 255, 0.25), inset 0px -10px 0px rgba(0, 0, 0, 0.15);
          color: #FFFFFF;

          &:hover,
          &:focus {
            background: linear-gradient(180deg, rgba(255, 199, 0, 0) 0%, rgba(218, 0, 0, 0.25) 100%), #FC7513;
            box-shadow: inset 0px 6px 0px rgba(255, 255, 255, 0.25), inset 0px -10px 0px rgba(0, 0, 0, 0.15);
            color: #FFFFFF;
          }
        }

        &__borrower-introduction {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%), #F1F1F1;
          box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.15);
          color: #00217B;

          &:hover,
          &:focus {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%), #F1F1F1;
            box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.15);
            color: #00217B;
          }
        }
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;

        svg {
          width: 180px;
        }

        &-text {
          width: calc(100% - 250px);
          line-height: 20px;
          text-align: right;
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          gap: 10px;
          display: flex;
          justify-content: flex-end;

          svg {
            width: auto;

            circle {
              fill: none;
            }
          }
        }
      }
    }
  }

  .fina-portal-text {
    color: white;
  }

  .fina-portal-on-phone {
    padding: 60px 40px;
    text-align: center;
    color: #FFFFFF;

    &-title {
      font-size: 32px;
      line-height: 40px;
      color: #FFFFFF;
      font-weight: 500;

      .ant-badge-status-dot {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 12px;
      }
    }

    &-container-inner {
      width: 300px;
      height: 300px;
      position: relative;
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 30px;

      &-small {
        width: 200px;
        height: 200px;
        margin-top: 15px;
        margin-bottom: 15px;

        svg.icon-fina-on-phone {
          width: 55px;
        }
      }

      &-input {
        display: block;
        height: 50px;
        font-size: 30px;
        max-width: 233px;
        margin: 0 auto;
        background: transparent;
        border: none;
        text-align: center;
        color: #FFFFFF;
        box-shadow: none;
        border-bottom: 1px solid;
        border-radius: 0;

        &:focus {
          box-shadow: none;
          border-bottom: 1px solid;
        }
      }

      &-clear {
        cursor: pointer;
        position: absolute;
        bottom: -45%;
        right: 0;
      }

      &-content {
        position: relative;
        max-width: 233px;
        margin: 0 auto;
      }
    }

    .key-board__list {
      color: #111111;
      padding-top: 0;
    }

    .circle {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: radial-gradient(circle at 50% 50%, #00A3FF00, #00A3FF40, #00A3FF60);
      border-radius: 50%;
      opacity: 0;
      animation-name: anim;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
    }

    .circle:nth-child(1) {
      animation-delay: 0s;
    }

    .circle:nth-child(2) {
      animation-delay: 0.5s;
    }

    .circle:nth-child(3) {
      animation-delay: 1s;
    }

    .inner-circle {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background-color: #00A3FF30;
      transform: translate(-50%, -50%);
      animation-duration: 2s;
      animation-iteration-count: infinite;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-fina-on-phone {
      width: 85px;
      height: auto;
    }

    @keyframes anim {
      0% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    &-time {
      font-size: 32px;
      color: #FFFFFF;
      margin-bottom: 25px;
      margin-top: 25px;
    }

    .icon-fina-end-call {
      width: 85px;
      height: auto;
      cursor: pointer;
    }

    &-info {
      margin-top: 50px;
      font-size: 30px;
      color: #FFFFFF;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 14px;

      .icon-fina-edit {
        width: 30px;
        height: auto;
      }
    }
  }
}

.fina-portal-form {
  padding: 30px 40px;

  &-header {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    color: #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-back {
      position: absolute;
      left: 0;
      height: 50px;
      cursor: pointer;

      svg {
        width: 50px;
        height: auto;
      }
    }

    .fina-logo {
      width: 180px;
      height: auto;
    }
  }

  &-content {
    margin-top: 45px;
    padding: 50px;
    background: #FFFFFF;
    border-radius: 20px;

    .ant-input {
      padding: 13px 15px;
      border: 2px solid #d9d9d9;
      border-radius: 8px;
    }

    .as-label {
      left: 15px;
      font-size: 14px !important;
    }

    .ant-form-item {
      margin-bottom: 30px !important;

      &.referral-code {
        margin-bottom: 0 !important;

        .ant-form-item-label {
          display: none;
        }
      }

      &.referral-name {
        .ant-form-item-control-input {
          min-height: auto;
        }
      }
    }

    textarea {
      resize: none;
    }

    &.fina-portal-success-content {
      text-align: center;
      padding: 75px;
      padding-top: 40px;

      svg {
        width: 150px;
      }

      .fina-portal-success-content-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #111111;
        margin-bottom: 30px;
      }

      .fina-portal-success-content-desc {
        font-size: 20px;
        color: #999999;
        margin-bottom: 0;
        line-height: 28px;
      }
    }
  }

  &-submit.ant-btn {
    background: linear-gradient(180deg, rgba(255, 199, 0, 0) 0%, rgba(218, 0, 0, 0.25) 100%), #FC7513;
    box-shadow: inset 0px 6px 0px rgba(255, 255, 255, 0.25), inset 0px -10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    height: 80px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 22px;
    border: none;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &:hover,
    &:focus {
      background: linear-gradient(180deg, rgba(255, 199, 0, 0) 0%, rgba(218, 0, 0, 0.25) 100%), #FC7513;
      color: #FFFFFF;
    }

    .icon-home {
      width: 35px;
      height: auto;
      position: relative;
      top: -4px;
    }
  }

  .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    height: 55px;
    border: 2px solid #d9d9d9;
    border-radius: 8px;
    padding: 0 15px;

    .ant-select-selection-placeholder,
    .ant-select-selection-item {
      line-height: 52px;
    }
  }
}

.fina-portal-on-phone-modal {
  max-width: calc(100vw - 50px);

  &-wrapper {
    padding: 16px;
  }

  &-title {
    color: #00217B;
    font-weight: 600;
    font-size: 32px;
  }

  .fina-portal-form-content {
    padding: 0;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 12px;

    .ant-btn {
      border-radius: 20px;
      height: 80px;
      width: 50%;
      font-size: 26px;
      font-weight: 500;
      border: none;
    }

    .fina-portal-on-phone-modal-submit {
      color: #FFFFFF;
      background: linear-gradient(180deg, rgba(255, 199, 0, 0) 0%, rgba(218, 0, 0, 0.25) 100%), #FC7513;
      box-shadow: inset 0px 6px 0px rgba(255, 255, 255, 0.25), inset 0px -10px 0px rgba(0, 0, 0, 0.15);

      &:focus,
      &:hover {
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba(255, 199, 0, 0) 0%, rgba(218, 0, 0, 0.25) 100%), #FC7513;
        box-shadow: inset 0px 6px 0px rgba(255, 255, 255, 0.25), inset 0px -10px 0px rgba(0, 0, 0, 0.15);
      }
    }

    .fina-portal-on-phone-modal-cancel {
      color: #00217B;
      background: #CED5E1;

      &:focus,
      &:hover {
        color: #00217B;
        background: #CED5E1;
      }
    }
  }
}