.view-phone-btn {
  border: none;
  outline: none;
  box-shadow: none;

  &:focus,
  &:hover {
    background-color: transparent !important;
  }
}

.profile_customer__action--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-ralated-btn {
  background: #0b51d7;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-left: 5px;
  &:focus,
  &:hover {
    background: #0b51d7;
    color: #ffffff;
  }
}
