.Fn_LoanCalc_Calc_RangePicker_Wrapper {
  margin-bottom: 27px;

  &>h3 {
    font-family: SFPD-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #222222;
  }

  .Fn_LoanCalc_Calc_RangePicker {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .customSlider {
      width: 100%;
      margin-right: 30px;

      .ant-slider-track {
        background-color: #0a3eca;
        height: 2px;
      }

      .ant-slider-rail {
        height: 2px;
        background-color: #d6e0ec;
      }

      .ant-slider-handle {
        width: 27px;
        height: 27px;
        background: #ffffff;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
        margin-top: -12px;
        border: none;
      }
    }

    .customInput {
      @screen md {
        width: 164px;
      }

      input {
        font-family: SFPD-Regular;
      }

      .ant-input-group-addon {
        width: 80px;
        padding: 0px;
        background-color: white;

        .ant-select-selector {
          font-size: 12px;
        }

        .Fn_LoanCalc_Calc_RangePicker__suffix {
          width: 100%;

          .ant-select-selector {
            height: 29px;
          }
        }
      }
    }

  }
}

.flexCenterSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: SFPD-Regular;

  &.multipleSuffix {
    cursor: pointer;
  }
}

.option-select-loan-calculator {
  font-size: 12px;
}