.modal-client-fund-form-view {
    .ant-modal-title {
        font-size: 16px;
        font-weight: bold;
    }

    .ant-modal-close-x {
        line-height: 65px;
    }

    .ant-modal-content {
        border-radius: 16px;

        .ant-modal-header {
            border-radius: 16px 16px 0 0;
        }

        .ant-modal-body {
            padding: 16px;

            .item-professional-investor {
                margin-bottom: 0;
            }
        }
    }

    .fina-form__input-control {
        font-size: 14px;
        height: 48px;
    }

    .client-fund-form-view {
        display: flex;
        background: #F3F6FA;
        border-radius: 8px;
        padding: 12px;
        gap: 12px;

        &__info {
            margin-bottom: 10px;
        }

        &__title {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #064dd6;
            margin-bottom: 4px;
        }

        &__warp {
            width: 50%;

            &_item {
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__label {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.9);
            }

            &__value {
                font-weight: 700;
                font-size: 12px;
            }
        }

        &__submit-actions {
            display: flex;
            gap: 8px;

            &-btn {
                width: 100%;
                height: 40px;
                border-radius: 4px;
                border: none;
                font-weight: 600;
                font-size: 16px;
            }

            .ant-btn-ghost {
                background: #E4EDFF;
                color: #064DD6;
            }

            .ant-btn-primary {
                background: #064DD6;
            }

            .ant-btn[disabled] {
                background: #f5f5f5;
                color: rgba(0, 0, 0, 0.25);
            }
        }
    }

    .fund-schema-note-input {
        border-radius: 8px;
        font-size: 14px;
    }
}