.related-bonds {
  &__header {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #064DD6;
    justify-content: space-between;
    margin: 20px 0;

    & > h2 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0;

      .total {
        color: #FF6C0E;
      }
    }

    &__right {
      display: flex;
      align-items: center;

      &--text {
        margin-right: 5px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
