.notification-main {
	height: calc(100vh - 112px);
	overflow: auto;
}

.notification-list-group {
	&__title {
		font-size: 16px;
		padding: 12px;
	}
}

.notification-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: all 0.2s;
	padding: 12px;
	&:hover {
		background-color: #f2f2f2;
	}
	&__left-content {
		display: flex;
		align-items: center;
	}
	&__avatar {
		margin-right: 8px;
	}
	&__content {
		&__created-date {
			color: #7f7f7f;
		}
	}
	&__unread-circle {
		min-width: 15px;
		height: 15px;
		border-radius: 15px;
		background-color: var(--primary-color);
	}
}
