.attachment-wrapper {
  position: relative;
  display: inline-block;

  .attachment-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .attachment-popup {
    display: flex;
    width: max-content;
    flex-direction: column;
    position: fixed;
    background-color: white;
    box-shadow: 0px 4px 23px 0px #0000000a;

    padding: 10px;
    border-radius: 16px;
    z-index: 10;

    .popup-item {
      display: flex;
      flex-direction: row;
      gap: 12px;
      padding: 10px 15px;
      align-items: center;
      cursor: pointer;
      position: relative;
      font-family: 'HonorSans';
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      color: #1e293b;

      &:hover {
        background: #b3b3b32b;
        border-radius: 10px;
      }

      .sub-content {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-align: left;
        color: #b1b1b1;
      }
      // Submenu styling
      .submenu {
        position: absolute;
        left: 105%; // Position the submenu to the right of the parent item
        bottom: 0; // Align the bottom of the submenu to the parent item
        background-color: white;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        color: #666;
        padding: 10px 12px;
        border-radius: 8px;
        z-index: 20;

        span {
          display: flex;
          width: max-content;
        }
      }
    }

    .level-1 {
      padding-left: 12px; // For indentation of nested submenus
    }

    .level-2 {
      padding-left: 24px; // Further indentation for deeper levels
    }
  }
}
