@import "../styles/css_variables";

body,
html {
  margin: 0;
  padding: 0;
}

body,
html,
._next {
  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/

  min-height: 100%; /* real browsers */
}

.fullscreen {
  width: calc(100%) !important;
  height: calc(100vh) !important;
}

.text-align-right {
  text-align: right;
}

.hidden {
  display: none;
}

.display-none {
  display: none;
}
.display-none-i {
  display: none !important;
}
.capitalize {
  text-transform: capitalize;
}
.d-f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb_dialog_content iframe.fb_customer_chat_icon {
  bottom: 90px !important;
}

@media only screen and (max-width: $md) {
  .mobile-menu {
    display: block !important;
  }
}

.mobile-menu {
  display: none;
}

/* For other boilerplate styles, see: https://www.tiny.cloud/docs/tinymce/6/editor-content-css/ */
/*
* For rendering images inserted using the image plugin.
* Includes image captions using the HTML5 figure element.
*/

figure.image {
  display: inline-block;
  border: 1px solid gray;
  margin: 0 2px 0 1px;
  background: #f5f2f0;
}

figure.align-left {
  float: left;
}

figure.align-right {
  float: right;
}

figure.image img {
  margin: 8px 8px 0 8px;
}

figure.image figcaption {
  margin: 6px 8px 6px 8px;
  text-align: center;
}

/*
 Alignment using classes rather than inline styles
 check out the "formats" option
*/

img.align-left {
  float: left;
}

img.align-right {
  float: right;
}

/* Basic styles for Table of Contents plugin (tableofcontents) */
.mce-toc {
  border: 1px solid gray;
}

.mce-toc h2 {
  margin: 4px;
}

.mce-toc li {
  list-style-type: none;
}
