@import '../../../../../../styles/css_variables';

.job-opportunities-item {
  @media only screen and (max-width: $md) {
    overflow-x: scroll;
  }
  &__item {
    margin: 20px;
    @media only screen and (max-width: $md) {
      min-width: 300px;
      width: 100%;
    }
    transition: all 0.1s;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 120px;
    width: 400px;
    padding: 5px 30px 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &__icon {
      @media only screen and (max-width: $md) {
        margin-right: 15px;

      }
      margin-right: 30px;
    }
    &__title {
      @media only screen and (max-width: $md) {
        font-size: 18px;
      }
        font-family: SFPD-Medium;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #474747;
        margin-bottom: 5px;
    }
    &:hover {
      border: 2px solid #064dd6;
    }
  }
}
