@import '../../../../../../styles/css_variables';

.search-home{
  &__search-container{
    padding: 32px 20px 40px 20px;

  }
  &__search{
    @media only screen and (max-width: $md) {
      padding: 30px 42px 10px 42px ;
    }
    background-image: linear-gradient(to right, rgba(16, 84, 216, 1),rgba(34, 101, 228, 1)) ;
    padding: 30px 62px 10px 42px ;
    border-radius: 12px;
    max-width: 1224px;
    margin: 0 auto;
  }
}
