.client-fund-session-history {
    margin-top: 8px;
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .session-history-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        padding: 8px 0;
        border-bottom: 1px solid #D9D9D9;

        &__children {
            & > span {
                color: #899096;
            }
        }
    }
}
