.mobile-management-item {
	margin: 15px 0;
	padding: 16px;
	background: #ffffff;
	border-radius: 6px;
	img {
		margin-bottom: 8px;
	}
	h3 {
		font-weight: 600;
		font-size: 20px;
		letter-spacing: 0.3px;
		margin: 0;
	}
	p {
		line-height: 17px;
		letter-spacing: 0.3px;
		color: #999999;
		margin: 0;
	}
}
