@import '@styles/css_variables';

.fund-information-item {
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #c6c6c8;
  overflow: hidden;

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 49px;
    background-image: linear-gradient(
      360deg,
      rgba(6, 77, 214, 0.75) 0%,
      #064dd6 97.31%
    );

    & > p {
      margin-bottom: 0;
      font-family: SFPD-Bold;
      color: #fff;
    }
  }

  &--content {
    padding: 12px;

    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &__item:last-child {
      margin-bottom: 0;
    }
  }
}
