@import '../../../../../styles/css_variables';

.recruitment-process{
  &__container{
    text-align: center;
    padding: 80px 20px 95px 20px;
    position: relative;

  }
  &__title{
    @media only screen and (max-width: $md) {
      font-size: 28px;
      line-height: 33px;
    }
    font-family: SFPD-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }
  &__body{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__dashed{
    @media only screen and (max-width: 1300px) {
      display: none;
    }
    position: absolute;
    border-top: 2px dotted #144AD0 ;
    top: 312px;
    width: 900px;
    z-index: -1;
  }
}
