@import "../../../../../styles/css_variables";

.fina-partner-wrapper {
  @media only screen and (max-width: $md) {
    padding: 0 20px;
    text-align: left;
  }
  text-align: center;
  background: #ffffff;
}

.fina-partner {
  background: #ffffff;
  padding: 0 0 120px 0;

  &__title {
    color: #064dd6;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background: #ffffff;
    padding: 0 16px;
    margin-top: -45px;
    width: fit-content;
  }

  @media only screen and (max-width: $md) {
    padding: 0 0 40px 0;
    flex-direction: column;

    &__title {
      font-size: 13px;
      margin-top: -25px;
    }
  }

  &__webimages {
    @media only screen and (max-width: $md) {
      display: none;
    }

    margin-top: 60px;
    border: 1px solid #064dd6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px;

    img {
      width: 100%;
      max-height: 325px;
      margin-top: 20px;
    }
  }

  &__mobileimages {
    @media only screen and (max-width: $md) {
      display: block;
      border: 1px solid #064dd6;
      border-radius: 8px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 16px;
    }

    margin-top: 30px;

    display: none;
    

    img {
      width: 100%;
      max-height: 425px;
      margin-top: 16px;
    }
  }
}
