.credit-offer-letter-list {
  padding-inline-start: 16px;
  p {
    margin: 0;
  }
  .credit-offer-letter-list-label {
    font-family: SFPD-Medium;
  }
  .credit-offer-letter-list-value {
    font-family: SFPD-Light;
  }
}
